<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Know Your Zodiac</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sign">Signs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="container">
  <h1 class="text-center">Zodiac Signs and Astrology Characteristics</h1>
  <p>Your Zodiac sign, or star sign, reflects the position of the sun when you were born. With its strong influence on your personality, character, and emotions, your sign is a powerful tool for understanding yourself and your relationships. And of course, your sign can show you the way to an incredible life.</p>
</header>
<div id="sign" class="container-fluid">
  <h2 class="text-center">Choose your sign</h2>
  <div class="row row-cols-4 justify-content-center">
    <div class="card col text-center" *ngFor="let s of sign">
      <div>
      <img src="{{s.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title">{{s.name|titlecase}}</h6>
        <h5 style="color: rgb(98, 103, 146);">{{s.heading1|uppercase}}</h5>
        <p class="card-text">{{s.date}}.</p>
        <h5 style="color: rgb(98, 103, 146);">{{s.heading2|uppercase}}</h5>
        <p class="card-text">{{s.traits}}.</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>
    </div>
  </div>
</div>
<footer>
  -----All rights reserved----
</footer>