<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="btn" (click)="goBack()">BACK</button>
      <a class="navbar-brand mx-auto" href="#">Know Your Zodiac</a>
    </div>
  </nav>
  <div id="sign" class="container my-4 col-lg-6 col-md-6 justify-content-center align-center">
    <div class="justify-content-center" *ngIf="Signs">
        <div class="card col text-center">
            <div class="d-flex">
                <img src="{{Signs.image2}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{Signs.name|titlecase}} Facts</h2>
                    <p class="card-text">{{Signs.date|uppercase}}.</p>
                    <p class="card-text"><b>Traits - </b> {{Signs.traits}}.</p>
                </div>
            </div>
        </div>
        <div class="card col text-center">
            <div *ngFor="let overview of Signs.overview">
                
                <div class="card-body text-start">
                    <p><b>Element :</b> {{overview.element|titlecase}}</p>
                    <p><b>Color : </b>{{overview.color|titlecase}}</p>
                    <p><b>Lucky number : </b>{{overview.number|uppercase}}</p>
                    <p><b>Ruler : </b>{{overview.ruler|titlecase}}.</p>
                    <p><b>Gem : </b>{{overview.gem|titlecase}}</p>
                    <p>{{Signs.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="my-3">
  -----All rights reserved----
</footer>